.input__wrapper {
  display: grid;
  grid-template:
    "label preview-label"
    "input preview";
  grid-template-columns: 1fr 2fr;
  gap: 8px 64px;
  align-items: self-start;
  padding-bottom: 8px;
  border-bottom: 1px solid currentColor;
  font-size: 1.4rem;
}

.input {
  grid-area: input;
  font-size: inherit;
}

.input__label {
  grid-area: label;
  text-align: start;
}

.input__preview {
  grid-area: preview;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input__preview-label {
  grid-area: preview-label;
}
